<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading" class="panel p-l-8 p-r-8">
    <h1>Products available in {{superName}} supermarket</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of supermarket.products;let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{product.name}}</td>
                <td>${{product.price}}</td>
                <td>{{product.stock}}</td>
            </tr>
        </tbody>
    </table>
</div>