/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fafafa;
}

.cursor-pointer {
    cursor: pointer;
}

.m-b-8 {
    margin-bottom: 8px;
}

.m-t-8 {
    margin-top: 8px;
}

.m-l-8 {
    margin-left: 8px;
}